<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <header class="site-header">
    <h1>CSCI E31 Photo Gallery Demo App</h1>
  </header>